### Jhesorley M. Laid
### MIT-2

In [1]:
import pandas as pd

In [2]:
data = {
    "Brand": ["Honda", "Honda", "Honda", "Yamaha", "Yamaha", "Suzuki", "Suzuki"],
    "Year": [2022, 2023, 2024, 2023, 2024, 2022, 2023],
    "Model_Type": ["Scooter", "Scooter", "Underbone", "Scooter", "Big Bike", "Scooter", "Big Bike"],
    "Model_Count": [2, 3, 1, 2, 1, 1, 1]
}

df = pd.DataFrame(data)

In [3]:
df

    Brand  Year Model_Type  Model_Count
0   Honda  2022    Scooter            2
1   Honda  2023    Scooter            3
2   Honda  2024  Underbone            1
3  Yamaha  2023    Scooter            2
4  Yamaha  2024   Big Bike            1
5  Suzuki  2022    Scooter            1
6  Suzuki  2023   Big Bike            1

In [4]:
#ROLL-UP (Total Models per Brand)

In [5]:
roll_up = df.groupby("Brand")["Model_Count"].sum().reset_index()
roll_up

    Brand  Model_Count
0   Honda            6
1  Suzuki            2
2  Yamaha            3

In [6]:
#DRILL-DOWN (Brand → Brand + Year)

In [7]:
drill_down = df.groupby(["Brand", "Year"])["Model_Count"].sum().reset_index()
drill_down

    Brand  Year  Model_Count
0   Honda  2022            2
1   Honda  2023            3
2   Honda  2024            1
3  Suzuki  2022            1
4  Suzuki  2023            1
5  Yamaha  2023            2
6  Yamaha  2024            1

In [8]:
#SLICE (Fix Year = 2023)

In [9]:
slice_2023 = df[df["Year"] == 2023]
slice_2023

    Brand  Year Model_Type  Model_Count
1   Honda  2023    Scooter            3
3  Yamaha  2023    Scooter            2
6  Suzuki  2023   Big Bike            1

In [10]:
#DICE (Brand = Honda or Yamaha AND Year = 2023–2024)

In [11]:
dice_data = df[
    (df["Brand"].isin(["Honda", "Yamaha"])) &
    (df["Year"].isin([2023, 2024]))
]
dice_data

    Brand  Year Model_Type  Model_Count
1   Honda  2023    Scooter            3
2   Honda  2024  Underbone            1
3  Yamaha  2023    Scooter            2
4  Yamaha  2024   Big Bike            1

In [12]:
#PIVOT (Brand vs Year)

In [13]:
pivot_table = pd.pivot_table(
    df,
    values="Model_Count",
    index="Brand",
    columns="Year",
    aggfunc="sum",
    fill_value=0
)

pivot_table

Year    2022  2023  2024
Brand
Honda      2     3     1
Suzuki     1     1     0
Yamaha     0     2     1