### JHESORLEY M. LAID
### MIT-2

In [1]:
import pandas as pd

In [2]:
data = {
    "Title": [
        "Book A", "Book B", "Book C", "Book D", "Book E",
        "Book F", "Book G", "Book H", "Book I", "Book J"
    ],
    "Year_Published": [
        2024, 2024, 2023, 2023, 2022,
        2021, 2020, 2019, 2018, 2017
    ]
}

books_df = pd.DataFrame(data)

In [3]:
books_df

    Title  Year_Published
0  Book A            2024
1  Book B            2024
2  Book C            2023
3  Book D            2023
4  Book E            2022
5  Book F            2021
6  Book G            2020
7  Book H            2019
8  Book I            2018
9  Book J            2017

In [4]:
recent_books = books_df[books_df["Year_Published"] >= 2023]

In [5]:
recent_books

    Title  Year_Published
0  Book A            2024
1  Book B            2024
2  Book C            2023
3  Book D            2023

In [6]:
books_df["Two_Year_Group"] = (books_df["Year_Published"] // 2) * 2

two_year_summary = books_df.groupby("Two_Year_Group").size().reset_index(name="Book_Count")

In [7]:
two_year_summary

   Two_Year_Group  Book_Count
0            2016           1
1            2018           2
2            2020           2
3            2022           3
4            2024           2

In [8]:
books_df["Decade"] = (books_df["Year_Published"] // 10) * 10

decade_summary = (
    books_df
    .groupby("Decade")
    .size()
    .reset_index(name="Book_Count")
)

In [9]:
decade_summary

   Decade  Book_Count
0    2010           3
1    2020           7

In [10]:
from IPython.display import display

print("RECENT YEARS (HIGH DETAIL)")
display(recent_books)

print("\nTWO-YEAR SUMMARY (MEDIUM DETAIL)")
display(two_year_summary)

print("\nDECADE SUMMARY (LOW DETAIL)")
display(decade_summary)

RECENT YEARS (HIGH DETAIL)

    Title  Year_Published
0  Book A            2024
1  Book B            2024
2  Book C            2023
3  Book D            2023

TWO-YEAR SUMMARY (MEDIUM DETAIL)

   Two_Year_Group  Book_Count
0            2016           1
1            2018           2
2            2020           2
3            2022           3
4            2024           2

DECADE SUMMARY (LOW DETAIL)

   Decade  Book_Count
0    2010           3
1    2020           7

In [11]:
hot_layer = books_df[books_df["Year_Published"] >= 2023]

print("CRITICAL / HOT LAYER (Recent Publications)")
display(hot_layer)

CRITICAL / HOT LAYER (Recent Publications)

    Title  Year_Published  Two_Year_Group  Decade
0  Book A            2024            2024    2020
1  Book B            2024            2024    2020
2  Book C            2023            2022    2020
3  Book D            2023            2022    2020

In [12]:
books_df["Two_Year_Group"] = (books_df["Year_Published"] // 2) * 2

warm_layer = (
    books_df
    .groupby("Two_Year_Group")
    .size()
    .reset_index(name="Book_Count")
)

print("WARM LAYER (2-Year Aggregation)")
display(warm_layer)

WARM LAYER (2-Year Aggregation)

   Two_Year_Group  Book_Count
0            2016           1
1            2018           2
2            2020           2
3            2022           3
4            2024           2

In [13]:
books_df["Decade"] = (books_df["Year_Published"] // 10) * 10

cold_layer = (
    books_df
    .groupby("Decade")
    .size()
    .reset_index(name="Book_Count")
)

print("COLD LAYER (Decade-Level Aggregation)")
display(cold_layer)

COLD LAYER (Decade-Level Aggregation)

   Decade  Book_Count
0    2010           3
1    2020           7

In [14]:
layers_summary = pd.DataFrame({
    "Layer": ["Hot", "Warm", "Cold"],
    "Time Scope": ["Recent Years", "Medium-Term", "Long-Term"],
    "Granularity": ["Individual Books", "2-Year Groups", "Decades"],
    "Data Importance": ["High", "Medium", "Low"]
})

display(layers_summary)

  Layer    Time Scope       Granularity Data Importance
0   Hot  Recent Years  Individual Books            High
1  Warm   Medium-Term     2-Year Groups          Medium
2  Cold     Long-Term           Decades             Low